<h1>Criando novo artigo</h1>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>

    <%= f.label :titulo %></br>
    <%= f.text_field :title %></br>

    <%= f.label :descrição %></br>
    <%= f.text_area :descrição %></br>

    <%= f.submit %>

<% end %>