<h1>Show articles details</h1>
<p><Strong>Title: </Strong> <%= @article.title %></p>
<p><Strong>Descrition: </Strong> <%= @article.description %></p>
</br>

<%= link_to 'Editar', edit_article_path(@article) %>
<%= link_to 'Deletar', article_path(@article), data: { "turbo-method": :delete , "turbo-confirm": "Você tem certeza que deseja deletar esse artigo?"} %>
<%= link_to 'Voltar a lista de artigos', articles_path %>