<div class="container" id="cards-width">
  <h1 class="text-center mt-4">Detalhes do Artigo</h1>
  <div class="card text-center" id="cards">
      <div class="card-header" id="card-div">by <%= @article.user.username if @article.user %></div>
      <%= gravatar_for @article.user, size:80 %>
      <div class="card-body">
        <h2 class="card-title" id="titulo"><Strong>Titulo: </Strong></br> <%= @article.title %></h2>
        <p class="card-text"><Strong>Descrição: </Strong></br> <%= @article.description %></p>
        <%= link_to 'Editar', edit_article_path(@article), class: "btn btn-info" %>
        <%= link_to 'Deletar', article_path(@article), class: "btn btn-danger" , data: { "turbo-method": :delete , "turbo-confirm": "Você tem certeza que deseja deletar esse artigo?"} %>
        <%= link_to 'Voltar a lista de artigos', articles_path, class: "btn btn-primary" %>
        </div>

      <div class="card-footer text-muted" id="card-div">
        <small>Criado em <%= time_ago_in_words(@article.created_at) %>,
        Editado em  <%= time_ago_in_words(@article.updated_at) %> </small>
      </div>
  </div>
</div>