<div class="container">
  <% if @user.errors.any? %>
    <h2>Os seguintes erros foram encontrados:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="container" id="cards-width">
    <div>
      <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :Username, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Digite seu username" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :Email, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Digite seu email" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :Password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Digite sua senha" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit "Criar Usuario" ,class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>