<div class="text-center">
  <div class="text-center"></div>
  <h1>Perfil de <%= @user.username %></h1>
  <%= gravatar_for @user, size:200 %>

  <div class="text-center" id="account-options">
    <% if logged_in? %> 
      <% if @user == current_user %>
        <%= link_to 'Editar Perfil', edit_user_path(@user), class: "btn btn-info" %>
        <%= link_to 'Deletar Perfil', user_path(@user), 
          data: { "turbo-method": :delete , "turbo-confirm": "Você tem certeza que deseja deletar sua conta?"},
          class: "btn btn-danger"%>
      <% end %>
      <% if current_user.admin? && !(@user == current_user)%>
        <%= link_to 'Deletar Perfil', user_path(@user), 
          data: { "turbo-method": :delete , "turbo-confirm": "Você tem certeza que deseja deletar sua conta?"},
          class: "btn btn-danger"%>
      <% end %>      
    <% end %>
  </div>

  <h3> Artigos: </h3>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

  <%= render 'articles/articles' %>

  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>